.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.banner{
  height: 80px;
min-width: 100vw;
background-color:#000;
flex-flow: column;
align-self: flex-end;
display: flex;
background-image: url(/black_banner.png);
background-size: contain;
background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: black;
}

.cardHeader{
  height: 5vh;
}

.cardContent{
  height: 20vh;
}

.descriptionText{
  height: 17vh;
}

.App-header {
  background-color: #fff;
  min-height: 6.5vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-logo {
  max-height: 20vh;
  margin-left: 65px;
  margin-top:12px;
}

#menu-image{
  align-self: center;
  flex: 0 0 110px;
  max-width: 444px;
  height: 57px;
margin-bottom: 4px;
margin-left: 600px;
background-image: url(/menu.png);
background-size: auto;
background-repeat: no-repeat;
}

.paper{
  background-color: #FFFAF0 !important;
  margin-top: 40px;
  max-height: 80vh;
  max-width: 95vw;
  margin-left: 40px;
  display: flex;
}

#meal-sub{
  color:#f86800;
  font-weight: bold;
  border-top: 5px;
  padding-top: 20px;
  border-top-style: solid;
  border-top-width: medium;
  border-top-color:#f86800;
}

.goodChoice{
  background-color: #ADFF2F;
}

.menu-text{
  position: relative;
  top: -30px;
  margin-left: 40px;
}

.main-logo-image {
  align-self: center;
  flex: 0 0 110px;
width: 110px;
height: 40px;
margin-bottom: 4px;
background-image: url(https://www.k-ruoka.fi/assets/28084/img/logo-kruoka.svg);
background-size: contain;
background-repeat: no-repeat;
}

.App-link {
  color: #09d3ac;
}
